@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');


.form-ctn {
    display: flex;
    flex-direction: column;
    padding: 0 1.3em 1.3em 1.3em;
    margin-top: 1.3em;
}

.name-ctn, .number-ctn {
    display: flex;
    flex-direction: column;
    height: 90px;
}

.error {
    white-space: nowrap;
    font-size: 10px;
    color: hsl(0, 100%, 66%);
    font-weight: bold;
    padding-top: 0.5em;
}

input {
    margin-bottom: 0;
    border: 0.7px solid hsl(270, 3%, 87%);
    height: 47px;
    border-radius: 7px;
    color: hsl(278, 67%, 7%);
    font-weight: 800;
    padding-left: 0.7em;
    font-size: 18px;
}

input:focus {
    outline-color: rgb(154, 46, 154);
}

.placeHolderName, .placeHolderNumber, 
.placeHolderMonth, .placeHolderYear, .placeHolderCvc {
    letter-spacing: 0;
    position: absolute;
    pointer-events: none;
    font-size: 18px;
    font-weight: 500;
    color: hsl(280, 3%, 79%); 
}

.placeHolderName {
    top: 378px;
    left: 36px;
}

.placeHolderNumber {
    top: 467px;
    left: 36px;
}

.placeHolderMonth {
    top: 556px;
    left: 38px;
}

.placeHolderYear {
    top: 556px;
    left: 120px;
}

.placeHolderCvc {
    top: 556px;
    left: 205px;
}

label:nth-of-type(1){
    
}

label {
    text-align: left;
    color: hsl(278, 67%, 7%);
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-bottom: 0.5em;
    font-weight: 600;
    font-size: 13px;
}

.date-cvc-ctn {
    display: flex;
    justify-content: space-between;
    height: 100px;
    
}

.date, .CVC{
    display: flex;
    flex-direction: column;
}

.date {
    width: 75px;
    white-space: nowrap;
}

.date input {
    width: 100%;
}

.CVC {
    width: 165px;
}
.CVC input {
    width: 100%;
}

.submit {
    height: 53px;
    border-radius: 8px;
    border: none;
    background:hsl(279, 61%, 13%);
    color: #fff;
    cursor: pointer;
    margin: 0;
}

.submit:hover {
    background: hsl(278, 66%, 15%)
}

@media screen and (min-width: 1300px){
    
    .form-ctn {
        align-self: center;
        position: absolute;
        right: 205px;
        width: 400px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .CVC {
        width: 175px;
    }

    .date {
        width: 80px;
    }

    .date input {
        height: 42px;
    }

    .date:nth-of-type(2){
        padding-right: 0.6em;
    }

    input {
        max-height: 42px;
    }

    label {
        margin-top: 0;
        
    }

    .error {
        font-size: 12px;
    }

    .date-cvc-ctn {
        
        
    }

    button.submit {
        margin-top: 0.4em
    }

    .placeHolderName {
        position: absolute;
        top: 103px;
        left: 33px;
    }
    
    .placeHolderNumber {
        position: absolute;
        top: 194px;
        left: 33px;
    }
    
    .placeHolderMonth {
        position: absolute;
        top: 284px;
        left: 33px;
    }
    
    .placeHolderYear {
        position: absolute;
        top: 284px;
        left: 127px;
    }
    
    .placeHolderCvc {
        position: absolute;
        top: 284px;
        left: 218px;
    }
}