@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');


.form-ctn {
    display: flex;
    flex-direction: column;
    padding: 0 1.3em 1.3em 1.3em;
}

.name-ctn, .number-ctn {
    display: flex;
    flex-direction: column;
    height: 90px;
}

.error {
    white-space: nowrap;
    font-size: 10px;
    color: hsl(0, 100%, 66%);
    font-weight: bold;
    padding-top: 0.5em;
}

input {
    margin-bottom: 0;
    border: 1px solid hsl(270, 3%, 87%);
    min-height: 47px;
    border-radius: 5px;
    color: hsl(278, 67%, 7%);
    font-weight: 800;
    padding-left: 0.7em;
}

input:focus {
    outline: none !important;
    border: 2px solid hsl(278, 57%, 70%);
}

.error {
    border: 2px solid red;
}

.noError {
    border: 2px solid purple;
}

.placeHolderName, .placeHolderNumber, 
.placeHolderMonth, .placeHolderYear, .placeHolderCvc {
    letter-spacing: 0;
    position: absolute;
    pointer-events: none;
    font-size: 18px;
    font-weight: 500;
    color: hsl(280, 3%, 79%); 
}

.placeHolderName {
    top: 376px;
    left: 36px;
}

.placeHolderNumber {
    top: 465px;
    left: 36px;
}

.placeHolderMonth {
    top: 556px;
    left: 38px;
}

.placeHolderYear {
    top: 556px;
    left: 120px;
}

.placeHolderCvc {
    top: 556px;
    left: 205px;
}

label:nth-of-type(1){
    margin-top: 1.5em;
}

label {
    text-align: left;
    color: hsl(278, 67%, 7%);
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-bottom: 0.5em;
    font-weight: 600;
    font-size: 13px;
}

.date-cvc-ctn {
    display: flex;
    justify-content: space-between;
    height: 100px;
    
}

.date, .CVC{
    display: flex;
    flex-direction: column;
}

.date {
    width: 75px;
    white-space: nowrap;
}

.date input {
    width: 100%;
}

.CVC {
    width: 165px;
}
.CVC input {
    width: 100%;
}

.submit {
    height: 53px;
    border-radius: 8px;
    border: none;
    background:hsl(279, 61%, 16%);
    color: #fff;
    margin-top: 1.5em;
}

.submit:hover {
    background: hsl(278, 66%, 23%)
}