@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');


.form-ctn {
    display: flex;
    flex-direction: column;
    padding: 0 1.3em 1.3em 1.3em;
}

.name-ctn, .number-ctn {
    display: flex;
    flex-direction: column;
    height: 90px;
}

.error {
    white-space: nowrap;
    font-size: 12px;
    color: hsl(0, 100%, 66%);
    font-weight: bold;
    padding-top: 0.5em;
}

input {
    margin-bottom: 0;
    border: 1px solid hsl(270, 3%, 87%);
    height: 47px;
    border-radius: 5px;
    padding-left: 1em;
    color: hsl(278, 67%, 7%);
    font-weight: 800;
}

input:focus {
    outline: none !important;
    border: 2px solid hsl(278, 57%, 70%);
  }

input::placeholder {
    font-size: 19px;
    color: hsl(270, 2%, 82%);
}

.label:nth-of-type(1){

}

label {
    color: hsl(278, 67%, 7%);
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-bottom: 0.5em;
    padding-left: 0.3em;
    font-weight: 600;
    font-size: 13px;
}

.date-cvc-ctn {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    
}

.date, .CVC{
    display: flex;
    flex-direction: column;
}

.date {
    width: 70px;
    white-space: nowrap;
}

.date input {
    width: 100%;
}

.CVC {
    width: 155px;
}
.CVC input {
    width: 100%;
}

.submit {
    height: 53px;
    border-radius: 8px;
    border: none;
    background:hsl(279, 61%, 16%);
    color: #fff;
}

.submit:hover {
    background: hsl(278, 66%, 23%)
}