@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background: rgb(33, 32, 32);
}

.App {
  width: 375px;
  max-height: 700px;
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}